<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title #{docTitle}
        link(rel="stylesheet", href="/css/main.css")
        link(rel="stylesheet", href="/css/product.css")
    body
        main
            h1 The Ship Game
            h2 App downloads
            a(class='button' href='https://drive.google.com/file/d/1-yraEMJcCrmmP4RsjmB1FXCEPZ8wKk09/view?usp=sharing') Download version 2.1
            h2 Requirements downloads
            h4 The game will not run without these if you don't have them already
            a(class='button' href='https://drive.google.com/file/d/1nkt1PyBgQfh2uuc24AHkbh4jy7QhAx2v/view?usp=sharing') Download Java JRE
            br
            a(class='button' href='https://drive.google.com/file/d/16ZUvtiEBx0xms8gI0xmzhzeqk8z-lxB6/view?usp=sharing') Download Java JDK

